<div class="foot-container">
    <div class="brand">
        <img src="../../../assets/pngs/lettering_branco 1.png" alt="">
    </div>
        <div class="three">
            <div class="wwa">Who We Are</div>
            <div class="wwa">FAQs</div>
            <div class="wwa">Contacts</div>
        </div>
        <div class="thre">
            <div class="wwa">Compliants Book</div>
            <div class="wwa">Terms And Conditions</div>
        </div>
    <div class="social">
        <img src="../../../assets/logos/iconmonstr-facebook-4-240.png" alt="">
        <img src="../../../assets/logos/iconmonstr-instagram-11-240.png" alt="">
        <img src="../../../assets/logos/iconmonstr-twitter-4-240.png" alt="">
        <img src="../../../assets/logos/iconmonstr-linkedin-4-240.png" alt="">
        <img src="../../../assets/logos/iconmonstr-youtube-6-240.png" alt="">
    </div>
</div>
