<div class="page-container">
    <div class="logo">
        STEEVANZ
    </div>
    <div class="page-content">
        <div class="text-and-stuff">
            <h2>Congratulations!</h2>
            <p class="remark">Your account will be activated in the next few days.</p>
            <p class="comment">You have successfully subscribed to a STEEVANZ Premium service, fasten your seatbelts and prepare to take the world by surprise. Remember to look out for our email in your inbox.</p>
            <button routerLink="/" >HOME</button>

        </div>
        <img src="../../../assets/pngs/undraw_order_confirmed_re_g0if.svg" alt="">
    </div>
</div>