.page-container {
    background-color: #111;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    .logo {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 63px;
        margin-left: 50px;
    }
    .page-content {
        display: flex;
        align-items: center;
        margin-left: 50px;
        .text-and-stuff {
            display: block;
            width: 60%;
            h2 {
                font-family: 'Cormorant', serif;
                font-weight: 700;
                font-size: 96px;
                margin-top: 80px;
    
            }
            .remark {
                font-family: 'Cormorant', serif;
                font-weight: 700;
                font-size: 40px;
                margin-top: 80px;
            }
            .comment {
                font-family: 'Roboto', serif;
                font-weight: 300;
                font-size: 20px;
                margin-top: 80px;
            }
            button {
                margin-top: 80px;
                width: 624px;
                height: 54px;
                border: 1px solid #fff;
                border-radius: 33px;
                background-color: transparent;
                color: #fff;
            }
            button:hover {
                color: #111;
                background-color: #fff;
            }
            
        }
        img {
            width: 700px;
            margin-left: 10%;
            margin-right: 50px;
        }
    }
}