<div class="page-container">
<app-nav-bar></app-nav-bar>
<app-checkout-bar></app-checkout-bar>
<div class="price-bar">
    <div class="price">
        <div class="euros"><b>Total: 50€</b><span> per month.</span></div>
        
    </div>
</div>
<div class="current">
    <div class="two"><span>2</span></div>
    <div class="current-page">
      YOUR DATA
    </div>
</div>
<div class="first-buttons">
    <button [ngClass]="{'personal': !plural, 'company': plural}" (click)="plural = !plural">PERSONAL</button>
    <button [ngClass]="{'personal': plural, 'company': !plural}" (click)="plural = !plural">COMPANY</button>
</div> 
<div class="forms">
    <form *ngIf="!plural" [formGroup]="personalInfo" >
        <div class="left">
            <div class="small-fields">
                <div class="firstname">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Firstname(s)</mat-label>
                          <input formControlName="firstName" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Email</mat-label>
                          <input formControlName="email" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country" required>
                              <mat-option *ngFor="let country of countries" value="one">{{country.name.common}}</mat-option>
                            </mat-select>
                         </mat-form-field>
                    </p>
                </div>
                <div class="lastname">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Lastname(s)</mat-label>
                          <input formControlName="lastName" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Phone</mat-label>
                          <input formControlName="phone" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Location</mat-label>
                          <input formControlName="location" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="long-field">
                <p class="long">
                        <mat-form-field appearance="fill" >
                          <mat-label>Address</mat-label>
                          <input formControlName="address" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                </p>
                <p *ngIf="checked" class="long">
                        <mat-form-field appearance="fill" >
                          <mat-label>Delivery Address</mat-label>
                          <input formControlName="delivery" matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                </p>
               
            </div>
            <div class="short-fields">
                <div class="post">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Postal code</mat-label>
                          <input formControlName="postal" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
                <div class="vat">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>VAT number</mat-label>
                          <input formControlName="vat" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
            </div>

            <label class="radio">
                <mat-radio-button color="primary" (change)="checked = !checked">Add delivery address different from the billing address.</mat-radio-button>
            </label>
        </div>
        <div class="right">
            <div class="gift-box">
                <img src="../../../assets/pngs/Group 100.png" alt="">
                <div class="offer">
                    <div class="question">Is this purchase an offer?</div>
                    <div class="sugg">Add a custom message</div>
                </div>
            </div>
            <div class="little-fields">
                <p class="short-field from">
                    <mat-form-field appearance="fill" >
                      <mat-label>From<sup>*</sup></mat-label>
                      <input formControlName="from" matInput>
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
                <p class="short-field">
                    <mat-form-field appearance="fill" >
                      <mat-label>To<sup>*</sup> </mat-label>
                      <input formControlName="to" matInput>
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
            </div>
            <div class="long-one">
                <p class="short-field">
                    <mat-form-field appearance="fill" >
                      <mat-label>Message</mat-label>
                      <textarea formControlName="message" matInput placeholder="Write your message here" ></textarea>
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
            </div>
        </div>
    </form>
    <form *ngIf="plural" [formGroup]="companyInfo" >
        <div class="left">
            <div class="small-fields">
                <div class="firstname">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Company Name</mat-label>
                          <input formControlName="companyName" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Work Email</mat-label>
                          <input formControlName="workEmail" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="country" required>
                                <mat-option *ngFor="let country of countries" value="one">{{country.name.common}}</mat-option>
                            </mat-select>
                         </mat-form-field>
                    </p>
                </div>
                <div class="lastname">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Employee Name(s)</mat-label>
                          <input formControlName="employeeName" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Role in Organisation</mat-label>
                          <input formControlName="role" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Location</mat-label>
                          <input formControlName="location" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="long-field">
                <p class="long">
                        <mat-form-field appearance="fill" >
                          <mat-label>Address</mat-label>
                          <input formControlName="address" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                </p>
                <p *ngIf="checked" class="long">
                        <mat-form-field appearance="fill" >
                          <mat-label>Delivery Address</mat-label>
                          <input formControlName="delivery" matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                </p>
               
            </div>
            <div class="short-fields">
                <div class="post">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>Postal code</mat-label>
                          <input formControlName="postal" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
                <div class="vat">
                    <p class="short-field">
                        <mat-form-field appearance="fill" >
                          <mat-label>VAT number</mat-label>
                          <input formControlName="vat" required matInput>
                          <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
            </div>

            <label class="radio">
                <mat-radio-button color="primary" (change)="checked = !checked">Add delivery address different from the billing address.</mat-radio-button>
            </label>
        </div>
        <div class="right">
            <div class="gift-box">
                <img src="../../../assets/pngs/Group 100.png" alt="">
                <div class="offer">
                    <div class="question">Is this purchase an offer?</div>
                    <div class="sugg">Add a custom message</div>
                </div>
            </div>
            <div class="little-fields">
                <p class="short-field from">
                    <mat-form-field appearance="fill" >
                      <mat-label>From<sup>*</sup></mat-label>
                      <input formControlName="from" matInput>
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
                <p class="short-field">
                    <mat-form-field appearance="fill" >
                      <mat-label>To<sup>*</sup> </mat-label>
                      <input formControlName="to" matInput>
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
            </div>
            <div class="long-one">
                <p class="short-field">
                    <mat-form-field appearance="fill" >
                      <mat-label>Message</mat-label>
                      <textarea formControlName="message" matInput placeholder="Write your message here" ></textarea>
                      <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="second-buttons">
    <button (click)="back()" class="previous">PREVIOUS</button>
    <button (click)="front()" [disabled]="!(personalInfo.valid || companyInfo.valid)" class="next">NEXT</button>
</div>
<app-footer></app-footer>
</div>