<div class="page-container">
    <app-nav-bar></app-nav-bar>
    <div class="text-and-stuff">
        <h2>FRONTEND DEVELOPER</h2>
        <P>Subscribe today and become a premium Steevanz Customer and have access to all our beautiful premium resources for as low as 50 Euros a month.</P>
        <div class="price-and-button">
            <div class="price">
                <div class="euros"><b>50€</b><span> per month</span></div>
                
            </div>
            <button (click)="goToCheckout()" >SUBSCRIBE</button>
        </div>
    </div>
    <div class="illust">
        <img src="../../../assets/pngs/undraw_devices_re_dxae.svg" alt="">
    </div>
    <app-footer></app-footer>
</div>
