<div class="nav-container">
    <div class="brand">STEEVANZ</div>
    <div class="menu-icons">
            <span class="material-symbols-outlined">
            language
            </span>
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <span class="material-symbols-outlined">
                shopping_bag
            </span>
            <span class="material-symbols-outlined">
                menu
            </span>
    </div>
</div>
